html, body {
    margin: 0px;
    height: 100%;
}

body {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row;
}

h1, h2, h3, p {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-pic {
    width: 256px;
    height: 256px;
    margin: 32px;
    border-radius: 32px 64px;
}

.text-area {
    margin-top: 64px;
    overflow: hidden;
}

.text-area h2 {
    color:rgb(255, 241, 110);
    text-shadow: 0 0 6px rgba(255, 241, 110, 50);
    animation-duration: 1s;
    animation-name: slidein;
}

.text-area h3 {
    color:rgb(255, 246, 167);
    text-shadow: 0 0 6px rgba(255, 246, 167, 50);
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    margin-left: -100%;
}

@keyframes slidein {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
    }
}

.profile {
    display: flex;
    flex-flow: column;
}

.file-browser {
    margin-left: 32px;
}

.folder {
    width: 100%;
}

.subfolder {
    display: flex;
    flex-flow: row;
}

.subfolder .folder {
    margin-left: 8px;
}

.subfolder-links {
    width: 32px;
    display: flex;
    flex-flow: column;
}

.subfolder-top-link {
    width: 32px;
    height: 32px;
}

.subfolder-bottom-link {
    width: 32px;
    height: 100%;
}

.item {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    height: 32px;
    position: relative;
}

.item img {
    width: 32px;
    height: 32px;
}

.item a {
    flex: 1 1 auto;
    margin: 0px;
    margin-left: 42px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 246, 167);
}

.link:hover {
    color:rgb(255, 255, 255);
}
