html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}

.scroller {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    background-color: #0e1112;
    border-left-style: solid;
    border-left-color: #60319e;
    border-left-width: 1px;
}

.gutter {
    flex: 0 1 60px;
    display: flex;
    flex-flow: column;
    background-color: #0e1112;
    color: #fff;
    text-align: right;
    padding-right: 4px;
}

.container {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
}

.input, .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
    background-color: #0000;
    caret-color: #fff;
}

.input {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    background-color: #0000;
    color: #0000;
    font-family: inherit;
    font-size: inherit;
}

.input::selection {
    background-color: #2d4958;
    color: #0000;
}

.overlay {
    pointer-events: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
}
