html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;

    background-color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow: hidden auto;
    color: #fff;
}

.padding {
    padding: 16px;
}

.column {
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    flex-flow: row;
}

.border {
    border-width: 1px;
    border-color: #ccc;
    border-bottom-style: solid;
}

.header {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    padding: 8px;

    width: 100%;
    background-image: url("/assets/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    color: rgb(255, 255, 255);
}

.header a {
    width: auto;
    margin-right: 16px;
    padding: 6pt;
    border-radius: 4px;
}

.header a:hover {
    background-color: rgba(155, 148, 255, 0.5);
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: rgb(223, 199, 255);
}

img {
    max-width: 100%;
    height: auto;
}

.item > h1 {
    font-size: 20px;
    font-weight: bold;
    color: #a3b1ff;
}

.item > h2 {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.item > h1, h2 {
    text-align: center;
}

.buttons a {
    padding: 8px;

    border-style: solid;
    border-radius: 8px;
    border-color: #fff;
    border-width: 1px;

    background-color: rgb(49, 49, 49);
    font-size: 20px;
}

.subscribe {
    display: flex;
    position: relative;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    min-height: 32px;

    color: #fff;
    background-color: #171a21;
    border: 1px solid #35465e;
    font-family: 'Motiva Sans', Arial, Helvetica, sans-serif;
}

.subscribe h1 {
    width: 350px;
    line-height: 24px;

    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.subscribe a {
    display: inline-block;
    position: relative;
    padding: 1px;

    border-radius: 4px;
    border: 2px solid #172030;
    cursor: pointer;

    color: #d2e885;
    text-decoration: none !important;

    background: #a4d007;
    background: webkit linear-gradient( to bottom, #a4d007 5%, #536904 95%);
    background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
}

.subscribe a:hover {
    color: #fff;
    background: #b6d908;
    background: webkit linear-gradient( to bottom, #b6d908 5%, #80a006 95%);
    background: linear-gradient( to bottom, #b6d908 5%, #80a006 95%);
}

.subscribe .h1-small {
    margin: 0;
    color: #5c8699;
    font-size: 13px;
    font-weight: 300;
}

.subscribe .button-text {
    padding: 0 15px;
    padding-left: 35px;
    line-height: 30px;
}

.subscribe .button-icon {
    position: absolute;
    top: 0px;
    left: 8px;
    height: 30px;
    width: 16px;

    background-image: url('https://community.cloudflare.steamstatic.com/public/images/sharedfiles/ico_subscribe_tiled.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.discord {
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;

    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #2c2f33;
    background: #23272a;
    background: webkit linear-gradient( to bottom, #23272a 60%, #35383d 100%);
    background: linear-gradient( to bottom, #23272a 60%, #35383d 100% );
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.discord > h1 {
    margin-bottom: 8px;
    text-align: left;
    font-size: 16px;
    color: #99aab5;
}

.discord .users {
    margin-bottom: 16px;
}

.discord-user {
    width: 100%;
    height: 32px;
}

.discord-user img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    float: left;
}

.discord-user a {
    margin-left: 8px;
    margin-top: 2px;
    font-size: 14px;
    text-align: left;
    float: left;
}

.discord-user p {
    margin-top: 2px;
    float: right;
    font-size: 12px;
    color: #99aab5;
}

.join-button {
    background-color: #5865f2;
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #fff !important;
}

.join-button:hover {
    background-color: #57f287;
}
