.directive { color: #fffd9f }
.directive.dot { color: #a1ecff }

.comment {
    color: #808080;
    font-style: italic;
}

.string.quote { color: #76ff53 }
.string.text { color: #bfff94; }
.string.escape { color: #fff78e }

.instruction { color: #64b4ff }
.label { color: #ffa37e }

.operand.identifier { color: #c8aaff }
.operand.register { color: #c8aaff }

.operator { color: #fff; }
.control { color: #fff; }

.number { color: #ff6464; }

.text { color: #fff; }
