.preprocessor { color: #fffd9f }
.preprocessor.directive { color: #a1ecff }
.preprocessor.comment {
    color: #808080;
    font-style: italic;
}

.string.quote { color: #76ff53 }
.string.text { color: #bfff94; }
.string.escape { color: #fff78e }

.identifier.label { color: #ffa37e }
.identifier.instruction { color: #64b4ff }
.identifier.operand { color: #c8aaff }

.number { color: #ff6464; }
.number.format { color: #ff6464; }

.control { color: #fff; }

.text { color: #fff; }
